.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#heading {
    background-color: rgb(221, 161, 40);
}

h1 {
    text-align: center;
}

form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
}

form button {
    margin-top: 20px;
}

#resumeOutput {
    margin-top: 40px;
    border: 1px solid #ccc;
    padding: 20px;
}